.top-div {
    background-color: rgb(43, 43, 48);
    padding-top: 2rem;
    padding-bottom: 23rem;
}
.PayrollDashboard {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    color: white;
    
}
.link-divs {
  display: flex;
  gap: 0.5rem; /* control the space between elements */
}
.timecard-home-button {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: .5rem;
    margin-left: 10px;
    line-height: 1;
    color: white;
    background-color: rgb(84, 84, 95);
    border-radius: .5rem;
    text-decoration: none;
}
.payroll-button {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-left: 20px;
    line-height: 1;
    color: white;
    background-color: rgb(84, 84, 95);
    border-radius: .5rem;
    text-decoration: none;
}
