.navbar {
    background-color: rgb(100, 100, 113);
    border-radius: 4px;
    padding-top: .5rem;
    padding-bottom: 2rem;
}
.home-button {
    text-decoration: none;
    padding-left: 6px;
    margin-left: 7px;
    border: 10rem;
    border-radius: 10px;
    color: whitesmoke ;
    border-color: beige;
    background-color: rgb(75, 75, 86);
}
.time-button {
    text-decoration: none;
    padding-left: 6px;
    margin-left: 14px;
    border: 12px;
    border-radius: 10px;
    color: whitesmoke ;
    border-color: beige;
    background-color: rgb(75, 75, 86);
}
.pay-button {
    text-decoration: none;
    padding-left: 6px;
    margin-left: 21px;
    border: 10rem;
    color: whitesmoke ;
    border-color: beige;
    background-color: rgb(75, 75, 86);
}

