.navbar {
    background-color: rgb(201, 216, 224);
    border-radius: 4px;

}
.home-button {
    text-decoration: none;
    min-height: 80px;
    padding-left: 6px;
    margin-left: 7px;
    border: 10rem;
    border-radius: 10px;
    color: rgb(29 26 16) ;
    border-color: beige;
    background-color: rgb(203 107 7);
}
.time-button {
    text-decoration: none;
    padding-left: 6px;
    margin-left: 14px;
    border: 12px;
    border-radius: 10px;
    color: rgb(29 26 16) ;
    border-color: beige;
    background-color: rgb(203 107 7);
}
.pay-button {
    text-decoration: none;

    margin-left: 17px;
    border: 2rem;
    border-radius: 5px;
    color: rgb(29 26 16) ;
    border-color: beige;
    background-color: rgb(203 107 7);
}

